 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timp</title>
</head>

<body>
    <div style="border: 5px solid #95bfe5;border-radius: .5rem;padding:2rem 1rem;">
        <table style="padding: 0;border-spacing: 0;margin: 0;box-sizing: border-box;">
            <thead>
                <tr>
                    <th>
                        <div
                            style="padding: 0;margin: 0;margin-bottom: 1.5rem;border-radius: .5rem; box-sizing: border-box;background-color: #090f0f;text-align: center; padding: 2vw 0;">
                            <img src="https://media.licdn.com/dms/image/v2/C4D0BAQEHsMLrhMczWA/company-logo_200_200/company-logo_200_200/0/1660830118307/techgropse_logo?e=2147483647&v=beta&t=538a3BGXQSpifl_3h__YiZFVx1x9PivvIlM_GyrPuJw" style="width:200px;height:100px" alt="logo">
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <h3 style="margin:.5rem 0;font-size: 1.21rem ;font-weight: 600;">Hey ,<%=  name %> ! </h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="margin:.5rem 0;font-size: 1.1rem ;font-weight: 500;">Thank you</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="margin:.5rem 0;font-size: 1.1rem ;font-weight: 500;">
                            <p>We received a request to verify your account. Your One-Time Password (OTP) is:</p>
        
                            <div class="otp-code">
                                <%= otp %>
                            </div>
                    
                            <p>This OTP will expire in 5 minutes. Please enter it to complete the verification process.</p>
                    
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="padding: 1vw;background-color: #95bfe5;border-radius: 6px;margin-top: 2rem;">
                            <table>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>

                                            <img src="https://img.icons8.com/?size=100&id=118467&format=png&color=000000">
                                                                                                                                                                                                                                                                                                      
                                        </td>
                                        <td>

                                        
											<img src="https://img.icons8.com/?size=100&id=phOKFKYpe00C&format=png&color=000000"		>																																																																																																														
                                        </td>
                                        <td>
<img src="https://img.icons8.com/?size=100&id=jZ1z64hEYYLW&format=png&color=000000">
                                            
                                      </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html> 

